html, body {
  height: 100%;
  margin: 0;
}

header {
	border-color: #cccccc;
	background-color: #ffffff;
	margin: auto;
}

.box1 {
	padding-top: 40px;
	width: 800px;
	margin: auto;
}

.about {
	width: 400px;
	background-color:dodgerblue;
	padding: 40px;
	margin-top:40px;
}

#aboutme {
	text-align: left;
	color: #4aaaa5;
	font-size: 30px;
	font-family: "Georgia", Times, Times New Roman, serif;
}

.connect {
	width: 300px;
}

#name {
  width: 200px;
  background-color: #4aaaa5;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-size: 30px;
  text-align: center;
  margin-left:100px;
}

#jameslee {
	color: white;
	margin: 10px;
}

.header-right {
	font-family:"Arial", 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	height: 55px;
	width: 300px;
	margin-right: 100px;
}

#links {
	text-align: center;
	padding-top: 7px;
	line-height: 3;
}

.container {
  min-height: 100%;
  top-margin: 50px;
  left-margin: 100px;
  right-margin: 100px;
}
.wrapper {
  min-height: 100%;
  width: 800px;
  margin: auto;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push { 
  height: 55px
  ;
}